@charset "UTF-8";

// cores
$preto-texto: #262626;
$roxo-escuro: #302932;
$roxo-mais-clarim: #482B51;
$rosa-bebe: #ddaea2;
$amarelo-clarinho: #d3bfab;
$azul-escuro: #1e3f82;
$marrom: #9a3e2b;
$verde-musgo: #8a7a19;

// fontes
$fonte-corpo: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$fonte-titulo: 'Asap Condensed', Tahoma, sans-serif;

// box-sizing
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// reset buttons
%reset-button{
	@include appearance(none);
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

// Estilos básicos

html{
	color: $preto-texto;
	font-family: $fonte-corpo;
	font-size: 16px;
	line-height: 1.5;
}

body{
	background-image: url(../img/bg-pattern2.jpg);
	background-repeat: repeat;
	background-size: auto 750px;
}

h1, h2, h3, h4, h5{
	font-family: $fonte-titulo;
	font-weight: bold;
	text-align: left;
}

a[href*="http"], 
a[href*="https"], 
a[href*="www"]{
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;

	article & {
		color: $marrom
	}
}